---
layout: page
title: 'Sponsors <img src="/assets/img/gift.svg" />'
excerpt: I am truly grateful to all the wonderful humans and companies supporting the development of these roadmaps. Please <a class="text-dark font-weight-bold" href="mailto:kamranahmed.se@gmail.com">reach
    out</a> to us to sponsor our efforts in helping the community
---

<div class="container mb-50">
    <div class="sponsor-page-blocks">
        {% include sponsor-blocks.html %}
    </div>
</div>


{% include subscribe.html %}