<div class="sponsors-list shadow-sm border dark-bg">
    <div class="container">
        <div class="container-head">
            <h4>Become a Sponsor</h4>
            <p>Please reach out to us to sponsor our efforts in helping the developers</p>
            <div class="logos-list">
                <a href="https://tajawal.ae" target="_blank"><img src="{{ "/assets/img/tajawal.jpg" | prepend:site.url }}" alt=""></a>
                <a href="https://hackr.io" target="_blank"><img src="{{ "/assets/img/hackrio.png" | prepend:site.url }}" alt=""></a>
                <img src="{{ "/assets/img/wave.svg" | prepend:site.url }}" class="be-sponsor" alt="">
            </div>
        </div>
    </div>
</div>