<div class="sign-up-form shadow-sm border dark-bg">
    <div class="container">
        <div class="container-head">
            <h4>Email me the Updates</h4>
            <p class="col text-center">Get notified about the announcements, changes to the roadmaps, new roadmaps
                and resources</p>
        </div>
        <form action="" class="form-inline">
            <input type="email" class="form-control" placeholder="Email Address">
            <button class="btn btn-primary">Sign me Up</button>
        </form>
        <p class="footnote">There is no spam. Unsubscribe at time.</p>
    </div>
</div>